.fpa-wrapper__footer {
    padding: 2px 0 0 2px;
}

ul.fpa-list {
    list-style: none;
}

.fpa-list__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fpa-list .fpa-image__item:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}

.fpa-list .fpa-image__item {
    transition: opacity 0.2s ease-in;
    padding: 0 2px 2px 0;
    line-height: 0;
}